
.container {
    height: 100vh;
}

.background { 
    background-image: url("../images/pietable.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}